<div class="container mt-5">
  <h1 class="text-center">PDF Data Extractor</h1>

  <!-- File Upload Form -->
  <form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="pdfFiles" class="form-label">Upload PDF Files</label>
      <input
        class="form-control"
        type="file"
        name="pdf_files"
        id="pdfFiles"
        multiple
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Extract</button>
  </form>

  <hr />

  <!-- Render PDFs -->
  {% if extracted_pdfs %}
  <h3>Extracted PDFs:</h3>
  {% for pdf in extracted_pdfs %}
  <div class="mt-4">
    <h4>{{ pdf.filename }}</h4>
    <embed
      src="{{ pdf.pdf_path }}"
      type="application/pdf"
      width="100%"
      height="500px"
    />
    <a href="{{ pdf.pdf_path }}" class="btn btn-secondary mt-3" download
      >Download {{ pdf.filename }}</a
    >
  </div>
  {% endfor %} {% endif %}
</div>
